body {
  
  color: #fff;
  
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  padding-top: 25px;

}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: black;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



h1{
  margin:0px auto 10px;
  padding: 20px;
}
.navbar-nav{
  text-align: center;
}
.navbar-toggler{
border:  black;
}

/* HOME PAGE */


#bir:hover, #sam:hover, #pan:hover {
  box-shadow: 0 1px 5px 1px #cccccc;

}

#bir,#sam,#pan{
  background-color:#61122f;
}

p{
  padding:0 20px 20px 20px;
  font-size: 120%;
}

h2{
  text-align: center;
  font-size: 300%;
  color: #61122f;
  margin-top: 15px;
  font-weight: bold;
}

h3{
  text-align: center;
  font-size: 250%;
  color:#ffffff;
}

.mar{
  
  margin-top: 25px;
}
.iconbar{
  color:black;
}




/* END HOME PAGE */


@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { 
    height: 20px;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span { /
    font-size: 1em;
    margin-right: 5px;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  
  
  
 
}